* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #393939;
}

ul {
  margin-top: 25px;
}

ul li{
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

ul li a{
  display: block;
  text-decoration: none;
  font-size: 25px;
  padding: 0 10px;
  color: black;
}

ul li a:hover{
  color: #c21136;
}

header {
  width: 100%;
  display: flex;
  background-color: white;
}

footer {
  display: flex;
  background-color: #fff0b3;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.logomark {
  padding-top: 1rem;
  padding-left: 1rem;
}
.social-images {
  padding-left: 35rem;
  padding-top: 2rem;
}

.Welcome {
  padding-left: 50px;
  padding-top: 50px;
  color: #c21136;
}

.philanthropy-body-text {
  margin-left: 30%;
  padding-left: 20px;
  padding-top: 50px;
  color: white;
}

#carouselExampleCaptions {
  width: 50%; /* Adjust the width as needed */
  margin: auto; /* Center the images horizontally */
}