* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #393939;
}

ul {
  margin-top: 25px;
}

ul li{
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

ul li a{
  display: block;
  text-decoration: none;
  font-size: 25px;
  padding: 0 10px;
  color: black;
}

ul li a:hover{
  color: #c21136;
}

header {
  width: 100%;
  display: flex;
  background-color: lightgray;
}

footer {
  display: flex;
  background-color: #fff0b3;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.logomark {
  float: left;
  padding-left: 1REM;
  padding-top: 1rem;
}
.social-images {
  float: right;
  margin-left: auto;
  padding-top: 2rem;
}

.welcome {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom:25px;
  color: #c21136;
}

.welcome-body {
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.philanthropy-body-text {
  margin-left: 30%;
  padding-left: 20px;
  padding-top: 50px;
  padding-right: 20px;
  color: white;
}

#carouselExampleCaptions {
  width: 70%;
  margin: auto;
}

.founders-list {
  display: flex;
  flex-wrap: wrap;
}

.left-half-founders {
  float: left;
}

.right-half-founders {
  float: left;
  margin-left: 25px;
}